html,body,.full{width: 100%;height:100%;}
.b{background-color:rgba(0,0,0,0.5);}
.center{display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}

/* 介绍页 */
.description{
	/*background:#420300 url(../img/bg.jpg) no-repeat top;*/
	background-size: 100%;
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;
}
#scroller{
	position: absolute;
	z-index: 1;
	width: 100%;height: 900%;
}
#scrollFocus{
	width: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	height: 120px;
	margin: auto;
}
#scrollFocus>li {
	width: 6px;
	height: 6px;
	margin: 7px;
	border-radius: 100%;
	background: rgba(255,255,255,0.6);
	opacity: 0.4;
	-webkit-transition: opacity 0.3s;
}
#scrollFocus>li.show {
	opacity: 1;
}
.slide{
	/*background: rgba(0,0,0,0.5);*/
	position: relative;
}
.singerImg{
	width: 230px;
}
.detail{
	color: #fff;
	height: 45%;
	position: absolute;
	bottom: 0;
}
#page1.error .countDown{ display: none;} 
.countDown{  width: 320px; height: 100px; margin:10% auto 0; line-height: 16px; text-align: center ;color:#fff;}
.countDown.hide{ display: none  }
.countDown:before{content:"看直播，玩竞猜赢大奖，敬请期待："; width: 100%; text-align: center; display: block; margin-bottom: 20px;}
.countDown span{ display: inline-block; width: 30px; height: 16px; margin:0 7px; padding:7px 0; border-radius: 4px; text-align: center; line-height: 20px;   font-family:DBLCDTempBlack;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1b1b1b), color-stop(0.5, #1b1b1b), color-stop(0.51, #111111), color-stop(1, #111111));}

.singerIntro{ padding: 10% 20px 0; text-align: left; line-height: }


.choiceQuestion{width: 80%;margin: 0 auto;color:#fff;}
.question{text-align:center;padding: 10px;}
.answer{margin-top: 10px;padding:10px;border-radius: 27px;}