html,body,.full{width: 100%;height:100%;}
.b{background-color:rgba(0,0,0,0.5);}
.center{display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
}
body{
	background:#420300 url(../img/bg.jpg) no-repeat top;
	background-size: 100%;
	color: #fff;
}
.ab{position: absolute;}
/* 介绍页 */
.description{
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;
	color: #fff;
	display: none;
}
.waitingCountDown{
	font-size: 40px;
	text-align: center;
	/*padding: 20px 0;*/
	line-height: 100px;
	height:100px;
}
#scroller{
	position: absolute;
	z-index: 1;
	width: 100%;height: 900%;
}
#scrollFocus{
	width: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	height: 120px;
	margin: auto;
}
#scrollFocus>li {
	width: 6px;
	height: 6px;
	margin: 7px;
	border-radius: 100%;
	background: rgba(255,255,255,0.6);
	opacity: 0.4;
	-webkit-transition: opacity 0.3s;
}
#scrollFocus>li.show {
	opacity: 1;
}
.slide{
	/*background: rgba(0,0,0,0.5);*/
	position: relative;
}
.singerImg{
	width: 230px;
	display: block;
	margin: 0 auto;
}
.detail{
	color: #fff;
	width: 70%;
	margin: 10% auto;
	/*height: 45%;*/
	/*position: absolute;*/
	/*bottom: 0;*/
}
#page1.error .countDown{ display: none;} 
.countDown{  width: 320px; height: 100px; margin:10% auto 0; line-height: 16px; text-align: center ;color:#fff;}
.countDown.hide{ display: none  }
/*.countDown:before{content:"看直播，玩竞猜赢大奖，敬请期待："; width: 100%; text-align: center; display: block; margin-bottom: 20px;}*/
.countDown span{ display: inline-block; width: 30px; height: 16px; margin:0 7px; padding:7px 0; border-radius: 4px; text-align: center; line-height: 20px;   font-family:DBLCDTempBlack;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1b1b1b), color-stop(0.5, #1b1b1b), color-stop(0.51, #111111), color-stop(1, #111111));}

.answerBtn{
	text-align: center;
	border-radius: 20px;
	background: #ffba41;
	color: #8b3100;
	padding: 10px;
}



/* pk */
.pk{
	display: -webkit-box;
	width: 100%;
	/*height: 300px;*/
}
.pkTop{padding: 50px 0 0 0;
background: url();}
.pk>.answerContainer{
	-webkit-box-flex: 1;
}
.pktext{font-size: 30px;font-style: italic;}
.pk .answer{
	margin: 0 auto 0 auto;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	border: 2px solid #fff;
	-webkit-backface-visibility: hidden;
	-webkit-transition: left 0.5s,opacity 0.5s;
	background: url(file:///Users/pasico/Sites/viper/maiwang/maiwang_912/img/8.png) 50% -20px / 200px no-repeat rgb(255, 255, 255);
}
.pkAnswer{padding-top: 30px;}
.pkSingerImg{
	width: 100%;
	/*margin-left: -20%;*/
}
.PKQuestion{margin-top: 50px;}

.singerIntro{ padding: 10% 20px 0; text-align: left; line-height: }
.pkSingerName{padding: 5px;
	font-size:10px;background: rgba(255,255,255,0.7);color: #000;border-radius: 12px;position: absolute;bottom: 20px;}
.pkSingerName1{left:2%;}
.pkSingerName2{right:2%;}
/* 竞猜歌词 */


.choiceQuestion{width: 80%;margin: 0 auto;color:#fff;}
.question{text-align:center;padding: 10px;}
.choiceQuestion .answer{
	margin-top: 10px;padding:10px;
	border-radius: 27px;
	text-align: center;
	/*border-radius: 20px;*/
	border:2px solid #fff;
	color: #fff;
	padding: 10px;
	font-size: 14px;
}
/* 8选1 */

.choiceQuestionFrom8{
	width: 80%;margin: 0 auto;color:#fff;
	/*height: 200px;*/
}
.choiceQuestionFrom8 .answer{
	float:left;
	width: 38%;
	margin: 20px 1%  auto 1%;

	/*height: 50px;*/
}

.singerContainer{position: relative;margin: 0 auto;}
.singerShadow{position: absolute;bottom: 0;display: block;margin: 0 auto;width:100%;}
.singerName{border-radius: 14px;font-size: 12px;background: #000;color: #fff;padding: 2px 5px;line-height: 12px;position: absolute;top: 40%;right: 15%;}
