/*


*/
.mwheader_container{position:absolute;top:0;color:#fff;width: 100%;height: 60px;
	/*background-color:rgba(0,0,0,0.5);*/
	opacity: 0;pointer-events:none; -webkit-transition:opacity .5s;}
.mwheader_container.show{opacity: 1;pointer-events:auto;}
.mwheader_container_UL{width: 100%;height: 100%;display: -webkit-box;}
.mwheader_btnGap{height:20px;width: 0px;border-left: 1px solid #000;border-right: 1px solid #fff;position: relative;}
.mwheader_btn{height:50px;-moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;}
.tipsText{clear: both;font-size: 10px;padding-left: 30px;}
.headText{font-size: 10px;padding-left: 30px;}
.mwheader_btn .headTime{border-radius: 14px;background: rgba(0,0,0,0.5);padding: 8px 8px 5px 8px;font-size: 16px;}
.mwheader_limitTime{visibility: hidden;}
.mwheader_limitTime.show{visibility: visible;}
/* 人数动画 */
.sum{ font-size: 12px;  position: absolute;
	 z-index: 500; left: 0 ;right: 0; top: 10px; width: 100%; height:50px; margin: auto; -webkit-transform:translate(0,-200px);-webkit-transition:-webkit-transform 0.3s;}
.sum.show{ -webkit-transform:translate(0,0px); }
.sum .la{  height: 15px; padding-top:27px; text-align: left; padding-left:39px; }
.sumPeople{  height: 20px; position: relative; left: 10px;top:5px; -webkit-backface-visibility:hidden;}
.sumPeople>div{width: 15px; height: 25px; line-height: 25px;  display: block; position: relative;  float: right;}
.sumPeople>div div{ position: absolute; left: 0;top: 0; width: 100%; height: 100%; display: block; font-size:25px;  color: #fff !important;}
.sumPeople>div div.show{-webkit-animation:showPage 0.5s 0 both;  }
.sumPeople>div div.out{-webkit-animation:outPage 0.5s 0 both ;   }
.sumPeople>div:nth-child(2) div.show{-webkit-animation-delay:0.2s;}
.sumPeople>div:nth-child(2) div.out{-webkit-animation-delay:0.2s; }
.sumPeople>div:nth-child(3) div.show{-webkit-animation-delay:0.4s;}
.sumPeople>div:nth-child(3) div.out{-webkit-animation-delay:0.4s; }
.sumPeople>div:nth-child(4) div.show{-webkit-animation-delay:0.6s;}
.sumPeople>div:nth-child(4) div.out{-webkit-animation-delay:0.6s; }
.sumPeople>div:nth-child(5) div.show{-webkit-animation-delay:0.8s;}
.sumPeople>div:nth-child(5) div.out{-webkit-animation-delay:0.8s; }
.sumPeople>div:nth-child(6) div.show{-webkit-animation-delay:1.0s;}
.sumPeople>div:nth-child(6) div.out{-webkit-animation-delay:1.0s; }
.sumPeople>div:nth-child(7) div.show{-webkit-animation-delay:1.2s;}
.sumPeople>div:nth-child(7) div.out{-webkit-animation-delay:1.2s; }
.sumPeople>div:nth-child(8) div.show{-webkit-animation-delay:1.4s;}
.sumPeople>div:nth-child(8) div.out{-webkit-animation-delay:1.4s; }
.sumPeople>div a{ color: #fff !important;}

.sumPeople{ padding-left:30px; background: url(../../img/lizhi.png) no-repeat 0 -4px; background-size: 30px; height: 30px;}
.sumPeople:after{}
@-webkit-keyframes showPage{
	0%{-webkit-transform:scale(0);opacity:0;}
	100%{-webkit-transform:scale(1);opacity:1;}
}

@-webkit-keyframes outPage{
	0%{-webkit-transform:scale(1);opacity:1;}
	100%{-webkit-transform:scale(2);opacity:0;}
}